<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./patterns</directory>
        </exclude>
        <report>
            <html outputDirectory="tests/coverage"/>
            <text outputFile="tests/coverage.txt"/>
        </report>
    </coverage>

    <php>
        <const name="ABSPATH" value="/var/www/html/"/>
        <const name="PDFVIEWER_THEME_VERSION" value="2.2.79"/>
    </php>

    <logging>
        <junit outputFile="tests/results/junit.xml"/>
    </logging>
</phpunit>
