<?xml version="1.0"?>
<phpunit
	bootstrap="../tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGIN" value="pdf-embed-seo-optimize/pdf-embed-seo-optimize.php"/>
	</php>
</phpunit>
